
.line {
  fill: none;
  stroke: var(--colorPrimary);
  stroke-width: 2;
  stroke-linecap: round;
}

.interactionHelper {
  fill: transparent;
}

.interactionHelper:hover {
  stroke: var(--colorPrimary);
  stroke-width: 0.5;
}
