
.theme {
  --colorBackground: var(--color0);
  --colorPrimary: var(--color1);
  --colorSecondary: var(--color2);

  color: var(--colorPrimary);
  text-shadow:
    1px -1px 0px var(--colorBackground),
    -1px -1px 0px var(--colorBackground),
    -1px 1px 0px var(--colorBackground),
    1px 1px 0px var(--colorBackground);
}

.theme a {
  color: var(--colorSecondary);
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.controls {
  position: absolute;
  top: 1rem;
  left: 1rem;
  max-width: calc(100vw - 2rem);
}

.footer {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  max-width: calc(100vw - 2rem);
  text-align: right;
}

@media (max-width: 600px) {
  .title {
    display: none;
  }

  .footer {
    font-size: 0.7em;
  }
}

.triContainer {
  position: absolute;
  left: -57.5vh;
  width: calc(100vw + 115vh);
  height: calc(100vh + 87vw);
  background-color: var(--colorBackground);
}
