
.grayscale {
  --color0: #fff;
  --color1: #000;
  --color2: #666;
  --color3: #999;
  --color4: #333;
  --color5: #ddd;
  --color6: #444;
  --color7: #bbb;
}

.blackpink {
  --color0: rgb(50, 0, 90);
  --color1: rgb(255, 105, 180);
  --color2: rgb(228, 125, 7);
  --color3: rgb(61, 60, 107);
  --color4: rgb(105, 195, 255);
  --color5: rgb(235, 20, 110);
  --color6: rgb(55, 4, 75);
  --color7: rgb(30, 32, 44);
}

.pastels {
  --color0: #bfb1d5;
  --color1: #adddcf;
  --color2: #abe1fd;
  --color3: #fed1be;
  --color4: #f0e0a2;
  --color5: #e8e7e5;
  --color6: #313131;
  --color7: #777777;
}

.ukraine {
  --color0: #0057b8;
  --color1: #ffd700;
  --color2: #4081ca;
  --color3: #ffe140;
  --color4: #00418a;
  --color5: #bfa100;
  --color6: #0028ff;
  --color7: #b86100;
}
