
.grayscale {
  --color0: #000;
  --color1: #fff;
  --color2: #666;
  --color3: #999;
  --color4: #333;
  --color5: #ddd;
  --color6: #444;
  --color7: #bbb;
}

.blackpink {
  --color0: rgb(50, 0, 90);
  --color1: rgb(255, 105, 180);
  --color2: rgb(61, 60, 107);
  --color3: rgb(105, 195, 255);
  --color4: rgb(235, 20, 110);
  --color5: rgb(228, 125, 7);
  --color6: rgb(55, 4, 75);
  --color7: rgb(30, 32, 44);
}

.pastels {
  --color0: #bfb1d5;
  --color1: #adddcf;
  --color2: #abe1fd;
  --color3: #fed1be;
  --color4: #f0e0a2;
  --color5: #e8e7e5;
  --color6: #313131;
  --color7: #777777;
}


.theme {
  --colorBackground: var(--color0);
  --colorPrimary: var(--color1);
  --colorSecondary: var(--color2);
}



.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.controls {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
}

.footer {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  text-align: right;
  opacity: 0.5;
}

@media (max-width: 600px) {
  .title {
    display: none;
  }

  .footer {
    font-size: 0.7em;
  }
}

.triContainer {
  position: absolute;
  left: -57.5vh;
  width: calc(100vw + 115vh);
  height: calc(100vh + 87vw);
  background-color: var(--colorBackground);
}

.interactionHelper {
  fill: transparent;
}

.interactionHelper:hover {
  stroke: var(--colorPrimary);
  stroke-width: 0.5;
}
